@import 'var/colors';
@import 'var/fonts';

.little-navbar {
    position: absolute;
    top: 0;
    background-color: rgba($color: $c-gray, $alpha: .5);
    width: 100%;
    display: flex;
    flex-direction: row;

    h2 {
        margin: 5px 0;
        padding: 0;
        font-family: $f-big;
        color: $c-blue;
        text-decoration: none;
        font-size: 20px;
    }

    .btn-accueil {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        cursor: pointer;

    }
    .btn-accueil::before {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        display: block;
        width: 0%;
        height: 2px;
        background-color: $c-blue;
        transition: width .5s ease-in-out;
    }
    .btn-accueil.active::before {
        width: 100%;
    }

    .btn-profil {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .btn-profil::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 0;
        height: 2px;
        background-color: $c-blue;
        transition: width .5s;
    }
    .btn-profil.active::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $c-blue;
    }
}